<div class="header-container" id="header-container">
    <div class="header-container-left">
        <img src="assets/images/Timesheet.png" alt="logo">
        Timesheet
    </div>
    <div class="header-container-right">
        <ul class="navbar-right">
            <app-switch-language></app-switch-language>
            <li class="pull-right">
                <a 
                    class="js-right-sidebar"
                    data-close="true"
                    href="javascript:void(0);"
                >
                    <i class="material-icons" style="color: #fff; margin-left: 12px;">more_vert</i>
                </a>
            </li>
        </ul>
    </div>
</div>