.legal {
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 13px;
    box-sizing: border-box;
}

.copyright a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}

.version {
    margin-top: 4px;
}

.version b {
    font-weight: 700;
}