<div class="header-container-right">
    <div>
        <a 
            class="link-release-note" 
            href="https://docs.google.com/document/d/13kP2JNm9BhWx0-BW7Hb0RJmukF4r6G9JjZb6tIpcEUU/edit?usp=sharing"
            target="_blank"
            title="Release Note"
        >
            <i class="fas fa-file-arrow-up"></i>
        </a>
    </div>
    <div>
        <a 
            class="link-user-guide"
            href="https://docs.google.com/document/d/1-h4z6oW1ouqXPP05SkVJss3JzkyEA-8Y/edit?usp=sharing&ouid=102943373699831890837&rtpof=true&sd=true"
            target="_blank"
            title="User guide"
        >
            <i class="fas fa-file-alt"></i>
        </a>
    </div>
    <li class="header-container-right-dropdown">
        <a 
            class="dropdown-toggle"
            data-toggle="dropdown"
            href="javascript:void(0);"
            role="button"
        >
            <i class="famfamfam-flags gb" title="English"></i>
            English
            <b class="caret"></b>
        </a>
    </li>
</div>