.header-container-right {
    display: flex;
    column-gap: var(--size-s);
    align-items: center;
    cursor: pointer;
}

.fas {
    font-weight: 900;
    color: var(--white-color);
    font-size: var(--size-l);
    margin-right: var(--size-s);
}


.header-container-right-dropdown {
    list-style: none;
}

.dropdown-toggle {
    text-decoration: none;
    color: var(--white-color);
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    font-weight: 700;
}